--
-- PostgreSQL database dump
--

\restrict fqwJaYok1eF9kSxTkvehaz4xT7MWPAdwCxsKeO8Qa6TFXIxJhTbYs1qk904bcAM

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: boardreportstatus; Type: TYPE; Schema: public; Owner: energy_user
--

CREATE TYPE public.boardreportstatus AS ENUM (
    'REPORTED',
    'WORKING_ON_IT',
    'DONE'
);


ALTER TYPE public.boardreportstatus OWNER TO energy_user;

--
-- Name: digitalpaymentstatus; Type: TYPE; Schema: public; Owner: energy_user
--

CREATE TYPE public.digitalpaymentstatus AS ENUM (
    'PENDING',
    'PAID',
    'CONFIRMED'
);


ALTER TYPE public.digitalpaymentstatus OWNER TO energy_user;

--
-- Name: jobstatus; Type: TYPE; Schema: public; Owner: energy_user
--

CREATE TYPE public.jobstatus AS ENUM (
    'PENDING',
    'ACCEPTED',
    'IN_PROGRESS',
    'PAYMENT_PENDING',
    'AWAITING_CONFIRMATION',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public.jobstatus OWNER TO energy_user;

--
-- Name: paymentmethod; Type: TYPE; Schema: public; Owner: energy_user
--

CREATE TYPE public.paymentmethod AS ENUM (
    'CASH',
    'DIGITAL'
);


ALTER TYPE public.paymentmethod OWNER TO energy_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: appliance_events; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.appliance_events (
    id integer NOT NULL,
    account_number character varying(100) NOT NULL,
    event_type character varying(50),
    from_appliance character varying(255) NOT NULL,
    to_appliance character varying(255) NOT NULL,
    watts double precision NOT NULL,
    raw_data json,
    event_time timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.appliance_events OWNER TO energy_user;

--
-- Name: appliance_events_id_seq; Type: SEQUENCE; Schema: public; Owner: energy_user
--

CREATE SEQUENCE public.appliance_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.appliance_events_id_seq OWNER TO energy_user;

--
-- Name: appliance_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: energy_user
--

ALTER SEQUENCE public.appliance_events_id_seq OWNED BY public.appliance_events.id;


--
-- Name: board_reports; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.board_reports (
    id character varying(36) NOT NULL,
    householder_id integer NOT NULL,
    category_id character varying(100) NOT NULL,
    category_title character varying(255) NOT NULL,
    issue_points json NOT NULL,
    address text NOT NULL,
    district character varying(100),
    location_lat double precision NOT NULL,
    location_lng double precision NOT NULL,
    issue_photos json NOT NULL,
    status public.boardreportstatus NOT NULL,
    status_message character varying(255),
    admin_notes text,
    status_updated_at timestamp with time zone,
    resolved_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.board_reports OWNER TO energy_user;

--
-- Name: budget_plans; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.budget_plans (
    id integer NOT NULL,
    reference_bill_id integer,
    user_id integer,
    account_number character varying(100),
    plan_name character varying(255),
    target_budget double precision NOT NULL,
    planning_days integer,
    plan_start_date timestamp without time zone NOT NULL,
    plan_end_date timestamp without time zone NOT NULL,
    target_daily_units double precision NOT NULL,
    target_daily_cost double precision NOT NULL,
    target_weekly_units double precision NOT NULL,
    target_weekly_cost double precision NOT NULL,
    target_total_units double precision NOT NULL,
    past_bill_amount double precision NOT NULL,
    past_bill_units integer NOT NULL,
    past_billing_days integer NOT NULL,
    weekly_targets json,
    monitoring_schedule json,
    recommendations json,
    status character varying(50),
    is_active boolean,
    last_check_date timestamp without time zone,
    current_progress_status character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    bill_id integer,
    is_priority boolean DEFAULT false,
    priority_set_at timestamp without time zone
);


ALTER TABLE public.budget_plans OWNER TO energy_user;

--
-- Name: budget_plans_id_seq; Type: SEQUENCE; Schema: public; Owner: energy_user
--

CREATE SEQUENCE public.budget_plans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.budget_plans_id_seq OWNER TO energy_user;

--
-- Name: budget_plans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: energy_user
--

ALTER SEQUENCE public.budget_plans_id_seq OWNED BY public.budget_plans.id;


--
-- Name: device_appliance_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_appliance_events (
    id integer NOT NULL,
    session_id integer,
    device_id character varying(50) NOT NULL,
    from_appliance character varying(255) NOT NULL,
    to_appliance character varying(255) NOT NULL,
    watts double precision NOT NULL,
    event_time timestamp with time zone DEFAULT now(),
    account_number character varying(64)
);


ALTER TABLE public.device_appliance_events OWNER TO postgres;

--
-- Name: device_appliance_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.device_appliance_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.device_appliance_events_id_seq OWNER TO postgres;

--
-- Name: device_appliance_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.device_appliance_events_id_seq OWNED BY public.device_appliance_events.id;


--
-- Name: device_readings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_readings (
    id integer NOT NULL,
    session_id integer,
    device_id character varying(50) NOT NULL,
    voltage double precision NOT NULL,
    current_a double precision NOT NULL,
    power_w double precision NOT NULL,
    energy_kwh double precision NOT NULL,
    frequency_hz double precision NOT NULL,
    power_factor double precision NOT NULL,
    apparent_power_va double precision,
    reactive_power_var double precision,
    resistance_ohm double precision,
    voltage_deviation double precision,
    voltage_dev_pct double precision,
    power_quality_score double precision,
    efficiency_class character varying(20),
    session_kwh double precision,
    session_cost_rs double precision,
    session_minutes double precision,
    avg_power_w double precision,
    peak_power_w double precision,
    avg_power_factor double precision,
    detected_appliance character varying(255),
    anomaly character varying(255),
    wifi_rssi integer,
    read_count integer,
    uptime_ms bigint,
    recorded_at timestamp with time zone DEFAULT now(),
    account_number character varying(64),
    temperature_c double precision,
    humidity_pct double precision,
    heat_index_c double precision
);


ALTER TABLE public.device_readings OWNER TO postgres;

--
-- Name: device_readings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.device_readings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.device_readings_id_seq OWNER TO postgres;

--
-- Name: device_readings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.device_readings_id_seq OWNED BY public.device_readings.id;


--
-- Name: device_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_sessions (
    id integer NOT NULL,
    user_id integer,
    device_id character varying(50) NOT NULL,
    appliance_name character varying(255) NOT NULL,
    appliance_brand character varying(255),
    appliance_description text,
    test_duration_min integer,
    status character varying(20) DEFAULT 'active'::character varying,
    started_at timestamp with time zone DEFAULT now(),
    ended_at timestamp with time zone,
    actual_duration_min double precision,
    total_readings integer DEFAULT 0,
    avg_power_w double precision,
    peak_power_w double precision,
    min_voltage_v double precision,
    max_voltage_v double precision,
    avg_power_factor double precision,
    avg_pq_score double precision,
    total_session_kwh double precision,
    total_cost_rs double precision,
    ai_summary text,
    ai_recommendations text,
    comparison_note text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    avg_temperature double precision,
    avg_humidity double precision,
    dataset_json text,
    dataset_count integer DEFAULT 0,
    health_assessment text,
    fault_detected boolean DEFAULT false,
    account_number character varying(100)
);


ALTER TABLE public.device_sessions OWNER TO postgres;

--
-- Name: device_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.device_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.device_sessions_id_seq OWNER TO postgres;

--
-- Name: device_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.device_sessions_id_seq OWNED BY public.device_sessions.id;


--
-- Name: electricity_bills; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.electricity_bills (
    id integer NOT NULL,
    file_name character varying(255) NOT NULL,
    file_path character varying(500),
    file_type character varying(50) NOT NULL,
    uploaded_at timestamp with time zone DEFAULT now(),
    account_number character varying(100),
    bill_reference character varying(100),
    bill_date timestamp without time zone,
    units_consumed integer,
    units_exported integer,
    billing_period_days integer,
    previous_reading integer,
    current_reading integer,
    previous_reading_date timestamp without time zone,
    current_reading_date timestamp without time zone,
    fixed_charge double precision,
    unit_charge double precision,
    total_charge double precision,
    customer_name character varying(255),
    customer_address text,
    tariff_type character varying(100),
    connection_type character varying(50),
    raw_text text,
    extracted_data json,
    confidence_score double precision,
    processing_status character varying(50),
    error_message text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    user_id integer NOT NULL,
    title character varying(100),
    is_manual boolean DEFAULT false,
    is_active_for_dashboard boolean DEFAULT false
);


ALTER TABLE public.electricity_bills OWNER TO energy_user;

--
-- Name: COLUMN electricity_bills.fixed_charge; Type: COMMENT; Schema: public; Owner: energy_user
--

COMMENT ON COLUMN public.electricity_bills.fixed_charge IS 'Fixed monthly charge';


--
-- Name: COLUMN electricity_bills.unit_charge; Type: COMMENT; Schema: public; Owner: energy_user
--

COMMENT ON COLUMN public.electricity_bills.unit_charge IS 'Charge for units consumed';


--
-- Name: COLUMN electricity_bills.total_charge; Type: COMMENT; Schema: public; Owner: energy_user
--

COMMENT ON COLUMN public.electricity_bills.total_charge IS 'Total monthly bill amount (This Month Charge / Total with Tax)';


--
-- Name: electricity_bills_id_seq; Type: SEQUENCE; Schema: public; Owner: energy_user
--

CREATE SEQUENCE public.electricity_bills_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.electricity_bills_id_seq OWNER TO energy_user;

--
-- Name: electricity_bills_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: energy_user
--

ALTER SEQUENCE public.electricity_bills_id_seq OWNED BY public.electricity_bills.id;


--
-- Name: household_appliances; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.household_appliances (
    id integer NOT NULL,
    user_id integer,
    account_number character varying(100),
    appliance_name character varying(255) NOT NULL,
    appliance_category character varying(100),
    wattage integer NOT NULL,
    daily_usage_hours double precision,
    usage_frequency character varying(50),
    usage_times_per_day integer,
    usage_duration_minutes integer,
    daily_kwh double precision,
    monthly_kwh double precision,
    estimated_monthly_cost double precision,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    bill_id integer,
    quantity integer DEFAULT 1
);


ALTER TABLE public.household_appliances OWNER TO energy_user;

--
-- Name: household_appliances_id_seq; Type: SEQUENCE; Schema: public; Owner: energy_user
--

CREATE SEQUENCE public.household_appliances_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.household_appliances_id_seq OWNER TO energy_user;

--
-- Name: household_appliances_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: energy_user
--

ALTER SEQUENCE public.household_appliances_id_seq OWNED BY public.household_appliances.id;


--
-- Name: household_members; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.household_members (
    id integer NOT NULL,
    user_id integer,
    account_number character varying(100),
    member_type character varying(50) NOT NULL,
    age integer,
    occupation_status character varying(100),
    weekday_hours_at_home double precision,
    weekend_hours_at_home double precision,
    consumption_multiplier double precision,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    bill_id integer
);


ALTER TABLE public.household_members OWNER TO energy_user;

--
-- Name: household_members_id_seq; Type: SEQUENCE; Schema: public; Owner: energy_user
--

CREATE SEQUENCE public.household_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.household_members_id_seq OWNER TO energy_user;

--
-- Name: household_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: energy_user
--

ALTER SEQUENCE public.household_members_id_seq OWNED BY public.household_members.id;


--
-- Name: iot_readings; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.iot_readings (
    id integer NOT NULL,
    account_number character varying(100) NOT NULL,
    voltage double precision,
    current double precision,
    power double precision,
    energy double precision,
    frequency double precision,
    power_factor double precision,
    "timestamp" timestamp with time zone DEFAULT now()
);


ALTER TABLE public.iot_readings OWNER TO energy_user;

--
-- Name: iot_readings_id_seq; Type: SEQUENCE; Schema: public; Owner: energy_user
--

CREATE SEQUENCE public.iot_readings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.iot_readings_id_seq OWNER TO energy_user;

--
-- Name: iot_readings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: energy_user
--

ALTER SEQUENCE public.iot_readings_id_seq OWNED BY public.iot_readings.id;


--
-- Name: jobs; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.jobs (
    id character varying(36) NOT NULL,
    householder_id integer NOT NULL,
    electrician_id integer,
    title character varying(255) NOT NULL,
    service_id character varying(100),
    service_name character varying(255),
    description text NOT NULL,
    issue_address character varying(500),
    location_lat double precision NOT NULL,
    location_lng double precision NOT NULL,
    district character varying(100) NOT NULL,
    category character varying(100),
    sub_category character varying(100),
    status public.jobstatus,
    issue_photos json,
    start_code character varying(4),
    accepted_at timestamp with time zone,
    started_at timestamp with time zone,
    start_code_verified_at timestamp with time zone,
    cancelled_at timestamp with time zone,
    cancellation_reason character varying(255),
    travel_fee_applied boolean,
    estimated_cost double precision,
    electrician_travel_distance_km double precision,
    electrician_location_lat double precision,
    electrician_location_lng double precision,
    electrician_travel_duration_minutes integer,
    final_cost double precision,
    completed_at timestamp with time zone,
    payment_method public.paymentmethod,
    digital_payment_status public.digitalpaymentstatus,
    digital_payment_amount double precision,
    digital_payment_reference character varying(255),
    digital_payment_meta json,
    digital_paid_at timestamp with time zone,
    payment_confirmed_at timestamp with time zone,
    householder_rating double precision,
    householder_feedback text,
    rated_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.jobs OWNER TO energy_user;

--
-- Name: live_meter_readings; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.live_meter_readings (
    id integer NOT NULL,
    account_number character varying(100) NOT NULL,
    voltage double precision NOT NULL,
    current double precision NOT NULL,
    power double precision NOT NULL,
    energy double precision NOT NULL,
    frequency double precision NOT NULL,
    power_factor double precision NOT NULL,
    session_kwh double precision NOT NULL,
    session_cost_rs double precision NOT NULL,
    detected_appliance character varying(255),
    anomaly character varying(255),
    read_count integer NOT NULL,
    uptime_ms integer NOT NULL,
    wifi_rssi integer NOT NULL,
    raw_data json,
    recorded_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.live_meter_readings OWNER TO energy_user;

--
-- Name: live_meter_readings_id_seq; Type: SEQUENCE; Schema: public; Owner: energy_user
--

CREATE SEQUENCE public.live_meter_readings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.live_meter_readings_id_seq OWNER TO energy_user;

--
-- Name: live_meter_readings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: energy_user
--

ALTER SEQUENCE public.live_meter_readings_id_seq OWNED BY public.live_meter_readings.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.messages (
    id character varying(36) NOT NULL,
    job_id character varying(36) NOT NULL,
    sender_id integer NOT NULL,
    text text NOT NULL,
    image_url character varying(500),
    is_read boolean,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.messages OWNER TO energy_user;

--
-- Name: meter_readings; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.meter_readings (
    id integer NOT NULL,
    budget_plan_id integer NOT NULL,
    reading_value integer NOT NULL,
    reading_date timestamp without time zone NOT NULL,
    reading_time character varying(10),
    units_consumed_so_far integer NOT NULL,
    days_elapsed integer NOT NULL,
    actual_cost_so_far double precision NOT NULL,
    expected_cost_so_far double precision NOT NULL,
    variance_units double precision NOT NULL,
    variance_cost double precision NOT NULL,
    variance_percentage double precision NOT NULL,
    status character varying(50) NOT NULL,
    projected_total_units double precision,
    projected_total_cost double precision,
    projected_budget_variance double precision,
    analysis_data json,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    bill_id integer
);


ALTER TABLE public.meter_readings OWNER TO energy_user;

--
-- Name: meter_readings_id_seq; Type: SEQUENCE; Schema: public; Owner: energy_user
--

CREATE SEQUENCE public.meter_readings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.meter_readings_id_seq OWNER TO energy_user;

--
-- Name: meter_readings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: energy_user
--

ALTER SEQUENCE public.meter_readings_id_seq OWNED BY public.meter_readings.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    type character varying(50),
    title character varying(255) NOT NULL,
    message text NOT NULL,
    account_number character varying(100),
    bill_id integer,
    plan_id integer,
    is_read boolean,
    action_url character varying(500),
    created_at timestamp with time zone DEFAULT now(),
    read_at timestamp with time zone
);


ALTER TABLE public.notifications OWNER TO energy_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: energy_user
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO energy_user;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: energy_user
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: tariff_structures; Type: TABLE; Schema: public; Owner: energy_user
--

CREATE TABLE public.tariff_structures (
    id integer NOT NULL,
    tariff_name character varying(255) NOT NULL,
    category character varying(100),
    effective_date timestamp without time zone NOT NULL,
    end_date timestamp without time zone,
    rate_structure json NOT NULL,
    fixed_charges json NOT NULL,
    sscl_rate double precision,
    is_active boolean,
    uploaded_by character varying(100),
    uploaded_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    notes text
);


ALTER TABLE public.tariff_structures OWNER TO energy_user;

--
-- Name: tariff_structures_id_seq; Type: SEQUENCE; Schema: public; Owner: energy_user
--

CREATE SEQUENCE public.tariff_structures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tariff_structures_id_seq OWNER TO energy_user;

--
-- Name: tariff_structures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: energy_user
--

ALTER SEQUENCE public.tariff_structures_id_seq OWNED BY public.tariff_structures.id;


--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_profiles (
    id integer NOT NULL,
    user_id integer NOT NULL,
    full_name character varying(255),
    address character varying(500),
    default_account_number character varying(100),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    birthday timestamp with time zone,
    profile_image text,
    district character varying(100),
    role character varying(50) DEFAULT 'Householder'::character varying,
    nvq_certificate_url text,
    is_verified boolean DEFAULT false
);


ALTER TABLE public.user_profiles OWNER TO postgres;

--
-- Name: user_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_profiles_id_seq OWNER TO postgres;

--
-- Name: user_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_profiles_id_seq OWNED BY public.user_profiles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    phone_number character varying(32),
    hashed_password character varying(255),
    google_id character varying(255),
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    is_admin boolean DEFAULT false,
    username character varying(100)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: appliance_events id; Type: DEFAULT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.appliance_events ALTER COLUMN id SET DEFAULT nextval('public.appliance_events_id_seq'::regclass);


--
-- Name: budget_plans id; Type: DEFAULT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.budget_plans ALTER COLUMN id SET DEFAULT nextval('public.budget_plans_id_seq'::regclass);


--
-- Name: device_appliance_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_appliance_events ALTER COLUMN id SET DEFAULT nextval('public.device_appliance_events_id_seq'::regclass);


--
-- Name: device_readings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_readings ALTER COLUMN id SET DEFAULT nextval('public.device_readings_id_seq'::regclass);


--
-- Name: device_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_sessions ALTER COLUMN id SET DEFAULT nextval('public.device_sessions_id_seq'::regclass);


--
-- Name: electricity_bills id; Type: DEFAULT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.electricity_bills ALTER COLUMN id SET DEFAULT nextval('public.electricity_bills_id_seq'::regclass);


--
-- Name: household_appliances id; Type: DEFAULT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.household_appliances ALTER COLUMN id SET DEFAULT nextval('public.household_appliances_id_seq'::regclass);


--
-- Name: household_members id; Type: DEFAULT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.household_members ALTER COLUMN id SET DEFAULT nextval('public.household_members_id_seq'::regclass);


--
-- Name: iot_readings id; Type: DEFAULT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.iot_readings ALTER COLUMN id SET DEFAULT nextval('public.iot_readings_id_seq'::regclass);


--
-- Name: live_meter_readings id; Type: DEFAULT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.live_meter_readings ALTER COLUMN id SET DEFAULT nextval('public.live_meter_readings_id_seq'::regclass);


--
-- Name: meter_readings id; Type: DEFAULT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.meter_readings ALTER COLUMN id SET DEFAULT nextval('public.meter_readings_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: tariff_structures id; Type: DEFAULT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.tariff_structures ALTER COLUMN id SET DEFAULT nextval('public.tariff_structures_id_seq'::regclass);


--
-- Name: user_profiles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles ALTER COLUMN id SET DEFAULT nextval('public.user_profiles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: appliance_events appliance_events_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.appliance_events
    ADD CONSTRAINT appliance_events_pkey PRIMARY KEY (id);


--
-- Name: board_reports board_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.board_reports
    ADD CONSTRAINT board_reports_pkey PRIMARY KEY (id);


--
-- Name: budget_plans budget_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.budget_plans
    ADD CONSTRAINT budget_plans_pkey PRIMARY KEY (id);


--
-- Name: device_appliance_events device_appliance_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_appliance_events
    ADD CONSTRAINT device_appliance_events_pkey PRIMARY KEY (id);


--
-- Name: device_readings device_readings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_readings
    ADD CONSTRAINT device_readings_pkey PRIMARY KEY (id);


--
-- Name: device_sessions device_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_sessions
    ADD CONSTRAINT device_sessions_pkey PRIMARY KEY (id);


--
-- Name: electricity_bills electricity_bills_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.electricity_bills
    ADD CONSTRAINT electricity_bills_pkey PRIMARY KEY (id);


--
-- Name: household_appliances household_appliances_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.household_appliances
    ADD CONSTRAINT household_appliances_pkey PRIMARY KEY (id);


--
-- Name: household_members household_members_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.household_members
    ADD CONSTRAINT household_members_pkey PRIMARY KEY (id);


--
-- Name: iot_readings iot_readings_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.iot_readings
    ADD CONSTRAINT iot_readings_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: live_meter_readings live_meter_readings_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.live_meter_readings
    ADD CONSTRAINT live_meter_readings_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: meter_readings meter_readings_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.meter_readings
    ADD CONSTRAINT meter_readings_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: tariff_structures tariff_structures_pkey; Type: CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.tariff_structures
    ADD CONSTRAINT tariff_structures_pkey PRIMARY KEY (id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (id);


--
-- Name: user_profiles user_profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_key UNIQUE (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_google_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_google_id_key UNIQUE (google_id);


--
-- Name: users users_phone_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_number_key UNIQUE (phone_number);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_budget_plans_bill_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX idx_budget_plans_bill_id ON public.budget_plans USING btree (bill_id);


--
-- Name: idx_dae_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dae_device ON public.device_appliance_events USING btree (device_id);


--
-- Name: idx_dae_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dae_session ON public.device_appliance_events USING btree (session_id);


--
-- Name: idx_device_appliance_events_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_appliance_events_session ON public.device_appliance_events USING btree (session_id);


--
-- Name: idx_device_readings_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_readings_device ON public.device_readings USING btree (device_id);


--
-- Name: idx_device_readings_device_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_readings_device_time ON public.device_readings USING btree (device_id, recorded_at);


--
-- Name: idx_device_readings_recorded; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_readings_recorded ON public.device_readings USING btree (recorded_at);


--
-- Name: idx_device_readings_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_readings_session ON public.device_readings USING btree (session_id);


--
-- Name: idx_device_sessions_account; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_sessions_account ON public.device_sessions USING btree (account_number);


--
-- Name: idx_device_sessions_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_sessions_device ON public.device_sessions USING btree (device_id);


--
-- Name: idx_device_sessions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_sessions_status ON public.device_sessions USING btree (status);


--
-- Name: idx_device_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_sessions_user_id ON public.device_sessions USING btree (user_id);


--
-- Name: idx_electricity_bills_user_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX idx_electricity_bills_user_id ON public.electricity_bills USING btree (user_id);


--
-- Name: idx_household_appliances_bill_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX idx_household_appliances_bill_id ON public.household_appliances USING btree (bill_id);


--
-- Name: idx_household_members_bill_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX idx_household_members_bill_id ON public.household_members USING btree (bill_id);


--
-- Name: idx_meter_readings_bill_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX idx_meter_readings_bill_id ON public.meter_readings USING btree (bill_id);


--
-- Name: ix_account_time; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_account_time ON public.live_meter_readings USING btree (account_number, recorded_at);


--
-- Name: ix_appliance_events_account_number; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_appliance_events_account_number ON public.appliance_events USING btree (account_number);


--
-- Name: ix_appliance_events_event_time; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_appliance_events_event_time ON public.appliance_events USING btree (event_time);


--
-- Name: ix_appliance_events_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_appliance_events_id ON public.appliance_events USING btree (id);


--
-- Name: ix_budget_plans_account_number; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_budget_plans_account_number ON public.budget_plans USING btree (account_number);


--
-- Name: ix_budget_plans_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_budget_plans_id ON public.budget_plans USING btree (id);


--
-- Name: ix_electricity_bills_account_number; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_electricity_bills_account_number ON public.electricity_bills USING btree (account_number);


--
-- Name: ix_electricity_bills_bill_reference; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE UNIQUE INDEX ix_electricity_bills_bill_reference ON public.electricity_bills USING btree (bill_reference);


--
-- Name: ix_electricity_bills_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_electricity_bills_id ON public.electricity_bills USING btree (id);


--
-- Name: ix_event_account_time; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_event_account_time ON public.appliance_events USING btree (account_number, event_time);


--
-- Name: ix_household_appliances_account_number; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_household_appliances_account_number ON public.household_appliances USING btree (account_number);


--
-- Name: ix_household_appliances_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_household_appliances_id ON public.household_appliances USING btree (id);


--
-- Name: ix_household_members_account_number; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_household_members_account_number ON public.household_members USING btree (account_number);


--
-- Name: ix_household_members_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_household_members_id ON public.household_members USING btree (id);


--
-- Name: ix_iot_readings_account_number; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_iot_readings_account_number ON public.iot_readings USING btree (account_number);


--
-- Name: ix_iot_readings_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_iot_readings_id ON public.iot_readings USING btree (id);


--
-- Name: ix_iot_readings_timestamp; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_iot_readings_timestamp ON public.iot_readings USING btree ("timestamp");


--
-- Name: ix_live_meter_readings_account_number; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_live_meter_readings_account_number ON public.live_meter_readings USING btree (account_number);


--
-- Name: ix_live_meter_readings_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_live_meter_readings_id ON public.live_meter_readings USING btree (id);


--
-- Name: ix_live_meter_readings_recorded_at; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_live_meter_readings_recorded_at ON public.live_meter_readings USING btree (recorded_at);


--
-- Name: ix_meter_readings_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_meter_readings_id ON public.meter_readings USING btree (id);


--
-- Name: ix_notifications_account_number; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_notifications_account_number ON public.notifications USING btree (account_number);


--
-- Name: ix_notifications_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_notifications_id ON public.notifications USING btree (id);


--
-- Name: ix_tariff_structures_id; Type: INDEX; Schema: public; Owner: energy_user
--

CREATE INDEX ix_tariff_structures_id ON public.tariff_structures USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: board_reports board_reports_householder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.board_reports
    ADD CONSTRAINT board_reports_householder_id_fkey FOREIGN KEY (householder_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: budget_plans budget_plans_bill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.budget_plans
    ADD CONSTRAINT budget_plans_bill_id_fkey FOREIGN KEY (bill_id) REFERENCES public.electricity_bills(id) ON DELETE CASCADE;


--
-- Name: budget_plans budget_plans_reference_bill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.budget_plans
    ADD CONSTRAINT budget_plans_reference_bill_id_fkey FOREIGN KEY (reference_bill_id) REFERENCES public.electricity_bills(id) ON DELETE SET NULL;


--
-- Name: device_appliance_events device_appliance_events_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_appliance_events
    ADD CONSTRAINT device_appliance_events_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.device_sessions(id) ON DELETE CASCADE;


--
-- Name: device_readings device_readings_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_readings
    ADD CONSTRAINT device_readings_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.device_sessions(id) ON DELETE CASCADE;


--
-- Name: device_sessions device_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_sessions
    ADD CONSTRAINT device_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: electricity_bills electricity_bills_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.electricity_bills
    ADD CONSTRAINT electricity_bills_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: household_appliances household_appliances_bill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.household_appliances
    ADD CONSTRAINT household_appliances_bill_id_fkey FOREIGN KEY (bill_id) REFERENCES public.electricity_bills(id) ON DELETE CASCADE;


--
-- Name: household_members household_members_bill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.household_members
    ADD CONSTRAINT household_members_bill_id_fkey FOREIGN KEY (bill_id) REFERENCES public.electricity_bills(id) ON DELETE CASCADE;


--
-- Name: jobs jobs_electrician_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_electrician_id_fkey FOREIGN KEY (electrician_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: jobs jobs_householder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_householder_id_fkey FOREIGN KEY (householder_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: meter_readings meter_readings_bill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.meter_readings
    ADD CONSTRAINT meter_readings_bill_id_fkey FOREIGN KEY (bill_id) REFERENCES public.electricity_bills(id) ON DELETE CASCADE;


--
-- Name: meter_readings meter_readings_budget_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.meter_readings
    ADD CONSTRAINT meter_readings_budget_plan_id_fkey FOREIGN KEY (budget_plan_id) REFERENCES public.budget_plans(id);


--
-- Name: notifications notifications_bill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_bill_id_fkey FOREIGN KEY (bill_id) REFERENCES public.electricity_bills(id) ON DELETE SET NULL;


--
-- Name: notifications notifications_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.budget_plans(id) ON DELETE SET NULL;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: energy_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_profiles user_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- Name: TABLE device_appliance_events; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.device_appliance_events TO energy_user;


--
-- Name: SEQUENCE device_appliance_events_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.device_appliance_events_id_seq TO energy_user;


--
-- Name: TABLE device_readings; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.device_readings TO energy_user;


--
-- Name: SEQUENCE device_readings_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.device_readings_id_seq TO energy_user;


--
-- Name: TABLE device_sessions; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.device_sessions TO energy_user;


--
-- Name: SEQUENCE device_sessions_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.device_sessions_id_seq TO energy_user;


--
-- Name: TABLE user_profiles; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.user_profiles TO energy_user;


--
-- Name: SEQUENCE user_profiles_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.user_profiles_id_seq TO energy_user;


--
-- Name: TABLE users; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.users TO energy_user;


--
-- Name: SEQUENCE users_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.users_id_seq TO energy_user;


--
-- PostgreSQL database dump complete
--

\unrestrict fqwJaYok1eF9kSxTkvehaz4xT7MWPAdwCxsKeO8Qa6TFXIxJhTbYs1qk904bcAM

